body {
    background-image: url('../images/purty_wood.png');
}

.container {
    background-color: snow;
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 80%;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid green;
    border-radius: 25px;
}

.intro {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    font-weight: bolder;
}

#trivia-gif {
    width: 100%;
    height: 600px;
    border-radius: 25px;
}

#start {
    position: absolute;
    bottom: 5%;
    margin:5%;
    /* width: 300px; */
    font-display: bolder;
} 

.card {
    background-color: limegreen;
    
}

.card-1 {
    background-color:yellow;
    padding: 20px;
    border-radius: 25px;
}